In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

from keras.models import Sequential, load_model
from keras.layers import LSTM, Dense, Dropout
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
 ds = pd.read_csv("/content/drive/My Drive/Colab Notebooks/MLProjects/HDBK Historical Data.csv")

In [ ]:
ds.head()

       Date   Price    Open    High     Low   Vol. Change %
0  2-Nov-15  540.35  546.31  546.73  537.05  1.58M   -1.50%
1  3-Nov-15  541.25  544.26  544.79   538.4  1.27M    0.17%
2  4-Nov-15  539.65  543.81  547.83  537.93  1.35M   -0.30%
3  5-Nov-15  538.73  538.05   540.3  533.56  1.80M   -0.17%
4  6-Nov-15  539.25  539.15  543.29  536.43  2.94M    0.10%

In [ ]:
ds.shape

(1502, 7)

In [ ]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      1502 non-null   object
 1   Price     1502 non-null   object
 2   Open      1502 non-null   object
 3   High      1502 non-null   object
 4   Low       1502 non-null   object
 5   Vol.      1502 non-null   object
 6   Change %  1502 non-null   object
dtypes: object(7)
memory usage: 82.3+ KB

In [ ]:
ds = ds['Open'].values

In [ ]:
ds

array(['546.31', '544.26', '543.81', ..., '1,514.80', '1,500.00',
       '1,494.80'], dtype=object)

In [ ]:
ds = ds.reshape(-1, 1)
print(ds.shape)

(1502, 1)

In [ ]:
train = np.array(ds[:int(ds.shape[0]*0.8)])
test = np.array(ds[int(ds.shape[0]*0.8)-50:])
print(train.shape)
print(test.shape)

(1201, 1)
(351, 1)

In [ ]:
scaler = MinMaxScaler(feature_range=(0,1))
train = scaler.fit_transform(train)
train[:5]